<% provide(:title, "新規登録 | 家計簿") %>
<%= render 'shared/headmenu' %>
<div class="container">
  <div class="main">
    <div class="page-header">
      <h3>家計簿
        <small>新規登録</small>
      </h3>
    </div>
    <%= render 'shared/diaries_input_body' %>
  </div>
</div>
