<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">おうち管理</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">家計簿
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "一覧", diaries_path() %></li>
            <li><%= link_to "新規登録", new_diary_path() %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">収支簿
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "年間収支", months_path() %></li>
            <li><%= link_to "新規登録", new_month_path() %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
